// color buttons
$red-btn: #f2000d;
$blue-btn: #1e90ff;
$green-btn: #32cd32;

//color text
$title-color: #696969;
$text-color: #696969;
$link-color: #4682b4;

//color border
$border-color: #a9a9a9;

//color body
$body-color: #fffafa;

//area
$area-body-green: rgba(34, 139, 34, 0.6);
$area-border-green: rgba(34, 139, 34, 1);
$area-body-red: rgba(255, 0, 0, 0.6);

//other
$white: #fff;
$black: #000;
$yellow: #ffca28;
$grey: hsla(0, 0%, 100%, 0.4);
