.footer {
    padding: 40px 0;
    .container {
    }
    &-info {
        text-align: center;
        & p {
            color: $text-color;
            font-size: 18px;
            & a {
                color: $link-color;
                text-decoration: none;
                transition: 0.3s ease-in;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
